name: Deploy to Hostido via SSH Key

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SFTP_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.SFTP_HOST }}
          REMOTE_USER: ${{ secrets.SFTP_USER }}
          REMOTE_PORT: 64321 
          TARGET: domains/haniakozubal.pl/public_html/
          SOURCE: ./
          ARGS: "-rlgoDzvc -i --delete"
          EXCLUDE: "/.git/, /.github/, /research/, /Archive/, /Archiwum/, .DS_Store, **/create_client.sh, .cursorrules"